body{
    background-color: #ffffff;
    margin:0;
    padding:0;
}
.container-fluid    {
    padding:0;
    height:100vh;
}

header{
    background-color:#609B53;
    height: 50px;
    padding-left: 100px;
    width: 100%;
}
header h1{
    line-height: 45px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:gray;
    text-shadow: 2px 2px 2px #000;
}

#username{
    line-height: 50px;
}
.container{
    display: block;
}

#money-icon{
    margin-top: 5em;
    margin-bottom: 2em;
}

#money{
    border: 1px solid #609B53;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 1em auto;
}

button{
    margin: 0 auto;
    width: 20%;
    background-color: #609B53
    !important;
}

#profile-area{
    position: absolute;
    right: 80px;
    gap:10px;
    align-items: center;
    display:flex;
    flex-direction: row;
}
#username{
    line-height: 50px;
}
#home{
    line-height: 50px;
}

a{
    text-decoration: none;
    color: #609B53;
}