body{
    margin:0;
    padding:0;
}
.container-fluid{
    padding:0;
    height:100vh;
    display:flex;
    flex-direction:column;
}

header{
    background-color:#609B53;
    height: 50px;
    padding-left: 100px;
    width: 100%;
}
header h1{
    line-height: 45px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:gray;
    text-shadow: 2px 2px 2px #000;
}

.main{
    
    display:flex;
    flex-direction: row;
    height:100vh;
}
aside{
    flex-basis: 15%;
    padding:20px;
    height:100vh;
    background-color:#ABD399;
}
.top-bar-container{
    background-color:#ABD399;
}
.product-area{
    flex-basis:85%;
}
.sort-bar,.search-bar{
    display:flex;
    flex-direction: row;
}
.search-form{
    display:flex;
    flex-direction: row;
    background-color:white;
}
#page-address{
    color:#609B53;
}
#shopping-cart{
    position: absolute;
    right: 20px;
}
#profile-area{
    position: absolute;
    right: 80px;
    gap:10px;
    align-items: center;
    display:flex;
    flex-direction: row;
}
#username{
    line-height: 50px;
}

#home{
    line-height: 50px;
}